<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/topnavbar'); %>

        <div class="search-content mt-2 mb-2 mx-5">
            <form class="d-flex" role="search" method="GET" action="/searchCards">
                <input class="form-control me-2 searchbox-size" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" id="searchBtn" name="searchButton">Search</button>
            </form>
        </div>
        <div class="content-container mx-5">
            <%- include('../partials/sidebar'); %>
            <%- include('../partials/cards'); %>
        </div>

</body>

</html>